<!DOCTYPE html>
<html lang="en"><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

  <!-- SITE TITLE -->

  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>About Us</title>

  <!-- PLUGINS CSS STYLE -->
  <!-- Bootstrap -->
  <link href="/style3/bootstrap.min.css" rel="stylesheet">
    <!-- Font Awesome -->
  <link href="/style3/font-awesome.min.css" rel="stylesheet">
  <script src="https://use.fontawesome.com/3fa183d8a3.js"></script>

  <!-- CUSTOM CSS -->
  <link href="/style3/team.css" rel="stylesheet">

  <!-- FAVICON -->
  <link href="/style/favicon.png" rel="shortcut icon">
</head>

<body class="body-wrapper">


<!--========================================
=            Navigation Section            =
=========================================-->

<nav class="navbar main-nav border-less fixed-top navbar-expand-lg p-0">
  <div class="container-fluid p-0">
      <!-- logo -->
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="fa fa-bars"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav mx-auto">
        <li class="nav-item ">
          <a class="nav-link" href="/">Home
			</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/posts">Posts</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/community">Community</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/login">Login</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/signup">Signup</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="/team">About</a>
        </li>
      </ul>
      </div>
  </div>
</nav>

<!--====  End of Navigation Section  ====-->



<!--============================	<div class="col-lg-6 col-md-8">
        				<div class="mt-4"></div>
        				<div class="mt-4"></div>
        				<h6>Renuka Dingore</h6>
        				<p>Student at SNDT University Computer Science third year.</p>
        			</div>
=            Banner            =
=============================-->

<section class="banner bg-banner-one" id="sectiontop">
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<!-- Content Block -->
        <section class="about mainbody" id="sectiontop">
        	<div class="container">

        		<div class="row">
        			<div class="col-12 text-left">
        				<div class="title">
        					<h3>Team at</h3>
        				</div>
        				<h1>Mingle <span class="titlelight">All The Way</span></h1>
        				<div class="image-block">
        					<img class="img-fluid" src="/style/backimage.jpg" alt="">
        				</div>
        			</div>
        		</div>

        		<div class="row">
        			<div class="col-lg-12 align-self-center">
        				<div class="content-block">
        <!--					<h2>About The</h2>-->
        					<div class="description-one">
        						<p class="emphasis">
        							Our people make all the difference
        						</p>
        						<p>Sam founded Mingle All The Way in Autumn 2020. Since then we're developing the site. Interested in joining us? Here are a few things that are important to know about Mingle All The Way.</p>
        					</div>

        					<div class="description-two">
        						<p class="emphasis">We think big</p>
        						<p>We’re a small team but we’re building tools that can matter to people all over the world.</p>
        						<div class="mt-4"></div>
        						<p class="emphasis">We welcome difficulty</p>
        						<p>We’re tackling loneliness and mental health problems and solving them won’t be easy. We’re up for the challenge.</p>
        						<div class="mt-4"></div>

        						<div class="mt-4"></div>
        						<p class="emphasis">We live our mission</p>
        						<p>Mingle All The Way helps people to connect with people , and we make sure our own lives reflect that aspiration.</p>
        						<div class="mt-4"></div>
        						<p class="emphasis">Full Stack</p>
        						<p>Team Mingle All The Way is currenly consist of single Full Stack Developer. Full Stack is his strength and he intend to stay that way.</p>
        					</div>
        				</div>
        			</div>
        		</div>

            <div class="row mt-20">
            <div class="col-lg-12">
              <h3>Technology Stack</h3>
            </div>
              <div class="col-lg-6 col-md-8">

                <h6>Frontend</h6>
                <p>React + Handlebars with Next framework </p>
              </div>
              <div class="col-lg-6 col-md-8">

                <h6>Backend </h6>
                <p>Nodejs + Express framework </p>
              </div>

              <div class="col-lg-6 col-md-8">
                <br>

                <h6>Security</h6>
                <p>JWT + DOTNET identity </p>
              </div>

              <div class="col-lg-6 col-md-8">
                <br>

                <h6>Database </h6>
                <p>My SQL </p>
              </div>

            </div>

        		<div class="row mt-20">
        		<div class="col-lg-12">
        			<h3>Developers</h3>
        		</div>
        			<div class="col-lg-6 col-md-8">
        				<div class="mt-4"></div>
                <img src="/style3/sam.png" alt="">
        				<div class="mt-4"></div>
        				<h6>Sam Dingore</h6>
        				<p>Student at Vidyalankar polytechnic Computer Engineering second year.</p>
        			</div>
        		</div>
        	</div>
        </section>
				<!-- Content Block -->

			</div>
		</div>
	</div>
</section>

<!--====  End of Banner  ====-->

<footer class="footer-main">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="block text-center">
            <ul class="list-inline">
              <li class="list-inline-item">
                A work in progress by Sam Dingore 2020
              </li>

              <br>
              <li class="list-inline-item">
                <a href="mailto:sameerdingore.iam@gmail.com" target="_blank">Mail me!</a>
              </li>
              <li class="list-inline-item">
                <a href="https://samdingore.now.sh" target="_blank">@ sam dingore</a>
              </li>
            </ul>
          </div>

        </div>
      </div>
    </div>
</footer>


<!--============================
=            Footer            =
=============================-->

<footer class="subfooter">
  <div class="container">
    <div class="row">
      <div class="col-md-6 align-self-center">
      </div>
      <div class="col-md-6">
          <a href="#sectiontop" class="to-top"><i class="fa fa-angle-up"></i></a>
      </div>
    </div>
  </div>
</footer>


  <!-- JAVASCRIPTS -->
  <!-- jQuey -->

  <script src="/style3//jquery.js"></script>

  <!-- Bootstrap 4 -->
  <script src="/style3//bootstrap.min.js"></script>

	<script>
$(document).ready(function(){
  // Add smooth scrolling to all links
  $("a").on('click', function(event) {

    // Make sure this.hash has a value before overriding default behavior
    if (this.hash !== "") {
      // Prevent default anchor click behavior
      event.preventDefault();

      // Store hash
      var hash = this.hash;

      // Using jQuery's animate() method to add smooth page scroll
      // The optional number (800) specifies the number of milliseconds it takes to scroll to the specified area
      $('html, body').animate({
        scrollTop: $(hash).offset().top
      }, 800, function(){

        // Add hash (#) to URL when done scrolling (default click behavior)
        window.location.hash = hash;
      });
    } // End if
  });
});
</script>






</body></html>
