<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" dir="ltr"><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>Mingle All The Way</title>
 <script type="text/javascript" async="" src="/style/f.txt"></script><script src="/style/502088030442368" async=""></script><script async="" src="/style/fbevents.js"></script><script async="" src="/style/js"></script> <script> window.dataLayer = window.dataLayer || []; function gtag(){dataLayer.push(arguments);} gtag('js', new Date()); gtag('config', 'AW-706805612'); </script>
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0">

<meta name="description" content="Mingle All The Way is a dating app and website that matches compatible Myers-Briggs personality types. Tired of meaningless swiping? Sign up free to Mingle All The Way...">
<meta name="keywords" content="Mingle All The Way,  personality types,  so synced">
<meta name="og:type" content="website">
<meta name="og:site_name" content="Mingle All The Way">
<meta name="og:title" content="Mingle All the Way | Mingle All The Way">
<meta name="og:description" content="Mingle All The Way is a dating app and website that matches compatible Myers-Briggs personality types. Tired of meaningless swiping? Sign up free to Mingle All The Way...">
<meta name="twitter:title" content="Mingle All the Way | Mingle All The Way">
<meta name="twitter:description" content="Mingle All The Way is a dating app and website that matches compatible Myers-Briggs personality types. Tired of meaningless swiping? Sign up free to Mingle All The Way...">

<meta http-equiv="Content-language" content="en">
<link rel="stylesheet" type="text/css" href="/style/ow.css" media="all">
<link rel="stylesheet" type="text/css" href="/style/base.css" media="all">
<link rel="stylesheet" type="text/css" href="/style/photo_floatbox.css" media="all">
<link rel="stylesheet" type="text/css" href="/style/mobile_experience.css" media="all">
<link rel="stylesheet" type="text/css" href="/style/mobile_experience(1).css" media="all">
<link rel="stylesheet" type="text/css" href="/style/velvet-92455ee743fe6cc64.css" media="all">
<link rel="stylesheet" type="text/css" href="/style/main.css" media="all">
<link rel="stylesheet" type="text/css" href="/style/css" media="all">
<link rel="stylesheet" type="text/css" href="/style/css(1)" media="all">
<link rel="stylesheet" type="text/css" href="/style/css(2)" media="all">
<link rel="stylesheet" type="text/css" href="/style/bookmarks.css" media="all">
<link rel="stylesheet" type="text/css" href="/style/bootstrap.css" media="all">
<link rel="stylesheet" type="text/css" href="/style/cookieconsent.min.css" media="all">
<style media="all">    #place_components .component {
        float: left;
    }

    .configurable_component .ow_box_icons {
        float: right;
        padding-top: 6px;
    }

    .configurable_component h3 {
        float: left;
    }


.ow_box_toolbar span{
display:inline-block;
}

 .ow_photo_item_widget {
    width: 72px;
    height: 72px;
    background-size: cover;
    background-repeat: no-repeat;
}

.floatbox_canvas .floatbox_container.ajax_signin{
width: 100% !important;
 max-width: 384px;
 background-color: #FFFFFF;
 box-shadow: 0 0 4px 0 rgba(0,0,0,0.2);
border-radius: 8px;
border: none;
}
.floatbox_container .ow_sign_in_wrap{
width: 100%;
}
.ow_sign_in_wrap form .ow_sign_up{
 padding-left: 0;
   margin: 0;
 clear: both;
 padding-top: 25px;
padding-bottom: 25px;
}
.floatbox_container .ow_bg_color {
 background-color: #fff;
}
.ow_sign_in_wrap form .ow_sign_in{
    width: 100%;
}
.ow_sign_in .ow_box_cap{
background: transparent;
}
.ow_sign_in .ow_box_cap h3{
color: #212B36;
font-family: Montserrat;
font-size: 42px;
font-weight: 300;
line-height: 44px;
text-transform: capitalize;
text-align: center;
padding: 5px 0 5px 0;
background-image: none;
}
.ow_sign_in_wrap form .ow_box{
    background-color: #fff;
        padding: 25px;
}
.ow_sign_in_wrap form .ow_user_name input[type="text"]{
height: 40px;
border: 1px solid rgba(196,205,213,1);
border-radius: 4px;
color: #212B36;
font-family: Montserrat;
font-size: 14px;
line-height: 20px;
margin-bottom: 15px;
}
.ow_sign_in_wrap form .ow_password input[type="password"]{
 height: 40px;
border: 1px solid rgba(196,205,213,1);
border-radius: 4px;
color: #212B36;
font-family: Montserrat;
font-size: 14px;
line-height: 20px;
margin-bottom: 15px;
}
.sign_in_btn span.ow_button{
 width: 94%;
 text-align: center;
}
.sign_in_btn span{
width: 94%;
}
.sign_in_btn input[type=submit]{
padding: 0;
height: 50px;
text-transform: capitalize;
 width: 100%;
}
.sign_in_btn{
float: none;
}
.floatbox_container .ow_sign_in_wrap form{
 padding: 0;
  }
.sign_signjoin{
text-align: center;
background-color: #F5F6F6;
}
.sign_signjoin p{
color: #212B36;
font-family: Montserrat;
font-size: 21px;
font-weight: 500;
line-height: 32px;
}
a.join_signin_pop{
color: #D40B63;
font-family: Montserrat;
font-size: 16px;
font-weight: bold;
line-height: 20px;
}
.floatbox_container .ow_sign_in .ow_password{
    position: relative;
}
.floatbox_container .ow_sign_in_wrap form .ow_form_options p.ow_remember_me{    color: #212B36;
padding-bottom: 15px;
font-family: Montserrat;
font-size: 14px;
line-height: 20px;
}
.ow_sign_in_wrap form .ow_form_options p.ow_remember_me input[type="checkbox"]{
margin: 3px 0 0 -20px;
}
.floatbox_container .ow_password .ow_forgot_pass{
position: absolute;
top: 10px;
right: 15px;
color: #212B36;
font-family: Montserrat;
font-size: 12px;
font-weight: bold;
line-height: 24px;
}
.floatbox_container .ow_password .ow_forgot_pass a{
 color: #212B36;
}
.floatbox_overlayBG{
opacity: 1;
background-color: #fff;}
.floatbox_header .ow_box_cap_icons{
position: absolute;
right: -15px;
top: -14px;
}
.floatbox_container .floatbox_header{position: relative;}
body .floatbox_canvas .floatbox_container{    margin-top: 35px;}
.ajax_signin .floatbox_body{    padding: 0;}
.floatbox_container.ajax_signin .floatbox_bottom {    padding: 0 0 0 0;}


html div.ow_console_list_wrapper
{
    min-height: 0px;
    max-height: 257px;
}



    .ow_qs_header {
        padding-bottom: 20px;
    }

    .ow_qs_field {
        padding-bottom: 15px;
    }

    .ow_qs_label {
        padding: 0 10px 0 10px;
    }

    .ow_qs_field input[type="text"] {
        max-width: 70%;
    }

    .ow_qs_field input.ow_googlelocation_search_location
    {
        max-width:100%;
    }

   .ow_qs_field .ow_qs_miles {
        width: 50px;
        text-align: center;
    }

     .ow_qs_field .ow_qs_locationstr {
        width: 150px;
    }

    form .ow_googlelocation_search_distance {
        text-align: center;
    }

    .ow_qs_btn .ow_qs_label {
        padding: 6px 10px 0px;
        display: inline-block;
    }
    label {
     margin-bottom: 0px !important;
     font-weight: normal !important;
    }
    .base_user_dashboard h3{    font-size: 14px !important;     margin: 0 !important;}

</style>
<link rel="shortcut icon" type="image/x-icon" href="/style/favicon.png">
<script type="text/javascript" src="/style/jquery.min.js"></script>
<script type="text/javascript" src="/style/jquery-migrate.min.js"></script>
<link rel="canonical" href="/"><style>
.base_profile_page .ow_stdmargin.ow_ic_user{display: none;}
.mainprofiletoolbar{display:none !important}
.termsofuse_page hr {
    background-color: rgba(196, 205, 213, 0.5);
    height: 1px;
    margin: 35px 0 0 0;
}
.terms_label td.ow_desc{display:block;}
div#dialogMessageFormBlock > textarea {
    line-height: 16px !important;
    font-size: 13px;
}
.mailboxDialogBlock {
    width: 380px;
}
p#dialogMessageText {
    font-size: 15px;
    line-height: 20px;
}
.base_index_page .ow_site_panel{display:none !important;}
.personalitytest .ow_canvas {
    width: 80%;
}
</style>
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0">



<script>
!function(f,b,e,v,n,t,s)
{if(f.fbq)return;n=f.fbq=function(){n.callMethod?
n.callMethod.apply(n,arguments):n.queue.push(arguments)};
if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
n.queue=[];t=b.createElement(e);t.async=!0;
t.src=v;s=b.getElementsByTagName(e)[0];
s.parentNode.insertBefore(t,s)}(window,document,'script',
'https://connect.facebook.net/en_US/fbevents.js');
fbq('init', '502088030442368');
fbq('track', 'PageView');
</script>
<noscript>
<img height="1" width="1"
src="https://www.facebook.com/tr?id=502088030442368&ev=PageView
&noscript=1"/>
</noscript>


<link href="/style/font-awesome.min.css" rel="stylesheet">



<script src="/style/f(1).txt"></script><style></style></head>
<!--[if IE 8]><body class="ow ie8 not_sign_in velvet-9245 base_index_page console_menu_items"><![endif]-->
<!--[if !IE 8]><!-->
<body class="ow not_sign_in velvet-9245 base_index_page console_menu_items">
  <div role="dialog" aria-live="polite" aria-label="cookieconsent" aria-describedby="cookieconsent:desc" class="cc-window cc-banner cc-type-info cc-theme-classic cc-bottom cc-color-override-702457466 cc-invisible" style="display: none;"><!--googleoff: all--><span id="cookieconsent:desc" class="cc-message">By using our site, you acknowledge that you have read and understand our <a href="/cookiepolicy">Cookie Policy</a>, <a href="/privacypolicy">Privacy Policy</a>, and our <a href="/termsofuse">Terms of Use</a>.</span><div class="cc-compliance"><a aria-label="dismiss cookie message" role="button" tabindex="0" class="cc-btn cc-dismiss">Got it</a></div><!--googleon: all--></div><div class="fakeLoader" style="background-color: rgb(0, 0, 0); display: none;"><div class="fl fl-spinner spinner1"><div class="double-bounce1"></div><div class="double-bounce2"></div></div></div><!--<![endif]-->



<div class="ow_page_wrap">
<div class="ow_page_padding">
<div class="ow_site_panel">
<div class="ow_console clearfix sign_in_menu">
<div class="ow_console_body clearfix">
<div class="ow_console_items_wrap">
<div id="console_item_5fad4a27db0f3" class="ow_console_item ">
<div style="display:none"><div id="base_cmp_floatbox_ajax_signin"><div class="ow_sign_in_wrap">
<h2>Mingle All The Way</h2>
<form id="form_z4hygyk2" method="post" action="/api/sign_in">
<div class="clearfix">
<div class="ow_sign_in">
<div class="ow_box_cap">
<div class="ow_box_cap_right">
<div class="ow_box_cap_body">
<h3 class="ow_ic_file">Sign in</h3>
</div>
</div>
</div>
<div class="ow_box ow_break_word">
<div class="ow_user_name">
<input name="email" id="input_sutek3mum4si5fad4a27da99f_63kiboko" type="text" placeholder="email">
</div>
<div class="ow_password">
<input name="password" id="input_7yjus2j353be75fad4a27dac5c_51tipy5u" type="password" placeholder="Password">
<p class="ow_forgot_pass"><a href="forgot-password">Forgot?</a></p>
</div>
<div class="ow_form_options clearfix">
<div class="ow_right sign_in_btn">
<span class="ow_button"><span class=" ow_positive"><input type="submit" value="Sign in" id="input_9apa5usoq3x5fad4a27dac89_9apa5uso" class="ow_positive"></span></span>
</div>
</div>
<div class="ow_box_bottom_left"></div>
<div class="ow_box_bottom_right"></div>
<div class="ow_box_bottom_body"></div>
<div class="ow_box_bottom_shadow"></div>
</div>
<div class="ow_connect_buttons">
</div>
</div>
<div class="ow_sign_up sign_signjoin">
<p>Don’t have an account?</p>

<p> <a class="join_signin_pop" href="join">Join now</a></p>
</div>
</div>
</form>



</div></div></div><span class="ow_signin_label">Sign in</span>
</div>
</div>
</div>
</div>
</div>
<div class="ow_header clearfix">
<div class="ow_menu_wrap"><ul class="ow_main_menu clearfix">
<li class="base_main_menu_index active"><a href="/"><span>Home</span></a></li><li class="base_page_6uq3zav4"><a href="guide"><span>Guide</span></a></li><li class="blogs_main_menu_item"><a href="/blogs"><span>Blog</span></a></li><li class="base_page_j3gu92g1"><a href="/FAQs"><span>FAQs</span></a></li><li class="base_page_webuh2k3"><a href="/aboutus"><span>About Us</span></a></li></ul>
<div class="type_drop_main">
<div class="type_drop_main_inner">
<p><a href="/personality-type-guide">60-second type guide</a></p>

</div>
</div>
</div>
</div>

<div class="ow_page_container">
<div class="ow_canvas">
<div class="logo-area-main logo-area-main-1">
<div class="logo-area">
<div class="logo-left">
<figure>
<a href="/" class="">
<img src="/style/theme_image_234.png" alt="">
</a>
</figure>

</div>
<div class="join-rg">
<div class="ow_join_button">
<a href="join" class="index_join_button">Join today</a>
</div>
<div class="ow_console clearfix sign_in_menu">
<div class="ow_console_body clearfix">
<div class="ow_console_items_wrap">
<div id="console_item_5fad4a27dc64c" class="ow_console_item ">
<div style="display:none"><div id="base_cmp_floatbox_ajax_signin"><div class="ow_sign_in_wrap">
<h2>Mingle All The Way</h2>
<form id="form_pubusak2" method="post" action="/api/sign_in" name="sign-in">
<input name="form_name" id="input_w1tekaw2q4bop5fad4a27dc4a8_kiwywod1" type="hidden" value="sign-in">
<input name="csrf_token" id="input_q4b454za65fad4a27dc4b6_q4b454za" type="hidden" value="MTYwNTE5MjIzMTc0V0VWRVphSGF4NGJhNTJwNExJNjRzb04zOTJQMlFB">
<div class="clearfix">
<div class="ow_sign_in">
<div class="ow_box_cap">
<div class="ow_box_cap_right">
<div class="ow_box_cap_body">
<h3 class="ow_ic_file">Sign in</h3>
</div>
</div>
</div>
<div class="ow_box ow_break_word">
<div class="ow_user_name">
<input name="identity" id="input_kihuluwos1nu5fad4a27dc4cc_kihuluwo" type="text" placeholder="Username/email">
</div>
<div class="ow_password">
<input name="password" id="input_l3hu8udyr1ge5fad4a27dc4e7_l3hu8udy" type="password" placeholder="Password">
<p class="ow_forgot_pass"><a href="forgot-password">Forgot?</a></p>
</div>
<div class="ow_form_options clearfix">
<p class="ow_remember_me"><input name="remember" id="input_d451tura5fad4a27dc4fc_d451tura" type="checkbox" checked="checked"><label for="input_d451tura5fad4a27dc4fc_d451tura">Remember me?</label></p>
<div class="ow_right sign_in_btn">
<span class="ow_button"><span class=" ow_positive"><input type="submit" value="Sign in" id="input_tupum3h1guho5fad4a27dc50a_mut4m4ga" class="ow_positive" name="submit"></span></span>
</div>
</div>
<div class="ow_box_bottom_left"></div>
<div class="ow_box_bottom_right"></div>
<div class="ow_box_bottom_body"></div>
<div class="ow_box_bottom_shadow"></div>
</div>
<div class="ow_connect_buttons">
</div>
</div>
<div class="ow_sign_up sign_signjoin">
<p>Don’t have an account?</p>

<p> <a class="join_signin_pop" href="join">Join now</a></p>
</div>
</div>
</form>
</div></div></div><span class="ow_signin_label">Sign in</span>
</div>
</div>
</div>
</div>
</div>
</div>
<div class="news_subtitle">A work in progress by  <strong>Sam Dingore</strong> © 2020
</div>
</div>
<div class="ow_page ow_bg_color clearfix ow_page_index">

</div>
</div>
</div>
</div>
</div>
<div class="Homepage_middle_section">
<article class="Pairing_perfect_types ow_center">
<div class="ow_canvas">
<h1>Mingle All the Way</h1>
<p>Mingle All the Way is the first website and app that connects people who all are going to supermarket or department stores. Each person has their indivisual shopping requirements. There is no such platform except Mingle All The Way Where you can go for shopping in pair/ group, share a ride to the same place and coordinate with stores.</p>
</div>
</article>
<article class="form_meaningful_connections">
<div class="ow_canvas">
<div class="container">
<div class="ic_box ow_center">
<figure>
<img src="/style/globe-europe.png" alt="">
</figure>
<h6>Sign up free from <br>anywhere in the world</h6>
</div>
<div class="ic_box ow_center">
<figure>
<img src="/style/tablet-and-laptop.png" alt="">
</figure>
<h6>Soon Available On <br>iOS, macOS & Linux</h6>
</div>
<div class="ic_box ow_center">
<figure>
<img src="/style/meaningful_connections_heart.png" alt="">
</figure>
<h6>Form meaningful <br>connections</h6>
</div>
</div>
</div>
</article>
<article class="how_it_works">
<div class="ow_canvas">
<h1 class="ow_center">How It Works</h1>
<div class="row step_1">
<div class="step_1_left">
<h1>01</h1>
<h2>It's totally free to sign up</h2>
<p>You sign up like any normal social media app and then whenever you want to go any supermarket or store Go on search page then select store from your area then select ride type, day you wanted to visit, age group and match's gender And you'll get the information about match and store.</p>
</div>
<div class="step_1_right">
<img src="/style/how_it_work_01.png" alt="">
</div>
</div>
<div class="row step_2">
<div class="step_2_left">
<img src="/style/how_it_work_02.png" alt="">
</div>
<div class="step_2_right">
<h1>02</h1>
<h2>We can choose matches for next time.</h2>
<p>If you don’t have time, then just click ‘choose for me’ and we’ll do all the hard work. If you want to take matters into your own hands, then you can search for specific match yourself.</p>
</div>
</div>
<div class="row step_3">
<div class="step_3_left">
<h1>03</h1>
<h2>Like each other to match and start messaging</h2>
<p>You’ll find a list of suggested matches with a compatibility percentage for each person based on your info's combinations, preferences and location. If you both like each other, you can start messaging straight away.</p>
</div>
<div class="step_3_right">
<img src="/style/how_it_work_03.png" alt="">
</div>
</div>
<div class="row btn_join ow_center">
<a class="step_join" href="/join">Join now</a>
</div>
</div>
</article></div>


<div class="ow_footer">
<div class="ow_canvas">
<div class="ow_page clearfix">

<div class="ow_footer_menu"><div class="footer-social bootstrap-wrapper" style="">
<div class="container">
<a href="https://www.facebook.com/samdingore" target="_blank" class="btn btn-outline-secondary  stats-btn" role="button">
<img width="48px" height="48px" src="/style/Facebook.png" alt="Facebook">
</a>
<a href="https://twitter.com/SamDingore" target="_blank" class="btn btn-outline-secondary  stats-btn" role="button">
<img width="48px" height="48px" src="/style/Twitter.png" alt="Twitter">
</a>
<a href="https://www.instagram.com/sam.dingore/" target="_blank" class="btn btn-outline-secondary  stats-btn" role="button">
<img width="48px" height="48px" src="/style/Instagram.png" alt="Instagram">
</a>
</div>
</div>
<a href="/aboutus">About Us</a> | <a href="/termsofuse">Terms of Use</a> | <a href="/privacypolicy">Privacy Policy</a> | <a href="/cookiepolicy">Cookie Policy</a> | <a href="/contact">Contact Us</a></div>
<div class="ow_copyright ow_left">
© Copyright Mingle All The Way. All rights reserved. Sam Dingore 2020, Server registered in Dublin, Ireland. Registered office: 71-75 Shelton Street, Covent Garden, London, WC2H 9JQ . Registered number: 19156221.
</div>
<div style="float:right;">
</div>
</div>
</div>
</div>

<link href="/style/bootstrap.min.css" rel="stylesheet">
<link href="/style/main.css" rel="stylesheet">
<link href="/style/media.css" rel="stylesheet">
<link href="/style/all.min.css" rel="stylesheet">
<link rel="stylesheet" href="/style/fakeLoader.min.css">
<link href="/style/css(3)" rel="stylesheet">
<script src="/style/fakeLoader.min.js"></script>
<div style="display: none" id="floatbox_prototype">
<div class="default">
<div class="floatbox_canvas floatbox_default">
<div class="floatbox_preloader_container">
<div class="floatbox_preloader ow_floatbox_preloader"></div>
</div>
<div class="floatbox_container">
<div class="ow_bg_color">
<div class="floatbox_header">
<div class="clearfix floatbox_cap">
<h3 class="floatbox_title"></h3>
<div class="ow_box_cap_icons clearfix">
<a title="close" class="ow_ic_delete close" href="javascript://"></a>
</div>
</div>
</div>
<div class="floatbox_body"></div>
<div class="floatbox_bottom"></div>
</div>
</div>
</div>
</div>
<div class="empty">
<div class="floatbox_canvas floatbox_empty">
<div class="floatbox_preloader_container">
<div class="floatbox_preloader ow_floatbox_preloader"></div>
</div>
<div class="floatbox_container">
<div class="ow_bg_color">
<div class="floatbox_header">
<div class="ow_box_cap_icons clearfix">
<a title="close" class="ow_ic_delete close" href="javascript://"></a>
</div>
</div>
<div class="floatbox_body"></div>
<div class="floatbox_bottom"></div>
</div>
</div>
</div>
</div>
</div>
<style type="text/css">

/*.base_index_page .ow_footer{display: none; }*/
/*.base_index_page .ow_footer_menu{display: none;}*/
.base_index_page .ow_page_wrap {      background-position: center;}
.join-rg .ow_console{
	position: relative;
	height: auto;
    display: inline-block !important;
    vertical-align: top;
      margin: 0 25px;
}
.join-rg .ow_console_item.ow_console_button{display: none;}
.join-rg .ow_console_body{background: none; padding: 0;}
.join-rg .ow_signin_label{
	    display: inline-block;
    height: 50px;
    line-height: 40px;
    margin: 4px 0;
    vertical-align: top;
    color: #fff;
    font-size: 16px !important;
    font-family: Montserrat;
}
.join-rg .index_join_button{
	margin: 0 0 0px 0; padding: 0 15px; width: auto;  background: #D40B63;
	border-radius: 8px;
	font-family: Montserrat;	font-size: 16px;	font-weight: bold;	    text-transform: inherit;	text-align: center;
	width: 170px; height: 50px; line-height: 50px;
}
.join-rg .ow_console_item{
	background: transparent;
color: #fff;
display: block;
width: auto;
margin: 0 0 0px 0; padding: 0 15px; width: auto;  background: #D40B63 !important;
	border-radius: 8px;
	font-family: Montserrat;	font-size: 16px;	font-weight: bold;	    text-transform: inherit;	text-align: center;
width: 170px; height: 50px;
}
/*.base_index_page .ow_page_container .ow_page{display: none;}*/
.base_index_page .ow_site_panel{display: none;}
.base_index_page .ow_header{margin: 0px auto 0px;}
.logo-area-main h2{clear: both; color: #d50b63;     padding: 0 0 0 27px;
    font-size: 24px;
    font-weight: normal;}
   .join-rg .ow_join_button{
   	/*float: left;*/
    margin-bottom: 15px !important;
    display: inline-block;
    vertical-align: top;
    margin: 0 25px;
    }
    .join-rg .ow_join_button a:focus, .join-rg .ow_join_button a:hover{    color: #fff;}
    h1.test_guidenew {
    color: #d50b63;
    font-family: Montserrat;
    font-size: 42px;
    font-weight: 300;
    line-height: 44px;
    margin-bottom: 25px;
    text-align: center;
}
 </style>
<script>

   	 		$("body").prepend('<div class="fakeLoader"></div>');
            $(window).load(function (){
                $.fakeLoader({
                    bgColor: '#000',
                    spinner:"spinner1"
                });
            });
 </script>
<script>
	$(document).ready(function(){
		$(".base_page_6uq3zav4").click(function(){
			 $(".base_page_6uq3zav4").toggleClass("type_guide_arrow");
		});
		$("body").click(function(){
			 $(".base_page_6uq3zav4").removeClass("type_guide_arrow");
		});
	});
</script>
<script>
$(document).ready(function(){
   $('.not_sign_in ul.ow_main_menu li:nth-child(3)').click( function(e) {
   	   e.preventDefault(); // stops link from making page jump to the top
        e.stopPropagation(); // when you click the button, it stops the page from seeing it as clicking the body too
        $('.type_drop_main').toggle();
    });
    $('.type_drop_main').click( function(e) {

        e.stopPropagation(); // when you click within the content area, it stops the page from seeing it as clicking the body too

    });

    $('body').click( function() {

        $('.type_drop_main').hide();

    });
});
</script>
<div class="ow_hidden">
<div id="ow-photo-view" class="ow_photoview_wrap clearfix ow_bg_color">
<div id="ow-photo-view-error" style="padding: 45px 10px 65px">
<div class="ow_anno ow_nocontent">Oops, you can't view this page due to limited permissions</div>
</div>
</div>
</div>
<script>
$(document).on("change","input[name='userPhoto']",function(){
	$(".upload-btn-wrapper .btn").hide();
})

$("#MainSearchForm").on('submit',function(e){
var flag = true;
$(".custom").remove();
var distance = $(".ow_googlelocation_search_distance").val();
if(distance > 999){
   $(".googlelocation_address_div").next().after("<span class='error custom'>Can't be more than 999 kilometers</span>")
   flag = false;
}

if(!flag){
  e.preventDefault();
}

})

</script>
<script>
$(document).on('html','mouseover',function(){
  $(".ow_tip.ow_tip_top").hide();
});
$('html').mouseover(function() {
  $(".ow_tip.ow_tip_top").hide();
});</script><script type="text/javascript">
            var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
            document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
            </script><script src="/style/ga.js" type="text/javascript"></script>
<script type="text/javascript">
            try {
                var pageTracker = _gat._getTracker("UA-152786440-1");
                pageTracker._trackPageview();
            } catch(err) {}
            </script><script type="text/javascript">

                ;window.photoViewParams = Object.freeze({"ajaxResponder":"https:\/\/minglealltheway\/photo\/photo\/ajax-responder\/","rateUserId":0,"layout":"floatbox","isClassic":true,"urlHome":"https:\/\/minglealltheway\/","isDisabled":true,"isEnableFullscreen":true,"tagUrl":"https:\/\/minglealltheway\/photo\/viewlist\/tagged\/-tag-"});
</script>
<script type="text/javascript">
;window.bookmarksActionUrl = "https:\/\/minglealltheway\/bookmarks\/rsp\/mark-state";
</script>
<script type="text/javascript" src="/style/ow.js"></script>
<script type="text/javascript" src="/style/jquery-ui.min.js"></script>
<script type="text/javascript" src="/style/utils.js"></script>
<script type="text/javascript" src="/style/photo.js"></script>
<script type="text/javascript" src="/style/jquery.mousewheel.js"></script>
<script type="text/javascript" src="/style/jquery.jscrollpane.js"></script>
<script type="text/javascript" src="/style/bookmarks.js"></script>
<script type="text/javascript" src="/style/console.js"></script>
<script type="text/javascript" src="/style/cookieconsent.min.js"></script>
<script type="text/javascript" src="/style/slider.min.js"></script>
<script type="text/javascript">
(function() {;window["addNewPhoto5fad4a27d66a8"] = function()
                    {
                        OW.authorizationLimitedFloatbox("Oops, you can't view this page due to limited permissions");
                    }})();
</script>
<script type="text/javascript">
(function() {;window["addNewPhoto5fad4a27d67e2"] = function()
                    {
                        OW.authorizationLimitedFloatbox("Oops, you can't view this page due to limited permissions");
                    }})();
</script>
<script type="text/javascript">
(function() {OW.ajaxComponentLoaderRsp = "https:\/\/minglealltheway\/base\/ajax-loader\/component\/";
OW.ajaxAttachmentLinkRsp = "https:\/\/minglealltheway\/base\/attachment\/add-link\/";
OW.getPing().setRspUrl("https:\/\/minglealltheway\/base\/ping\/\/");
OW.Users = new OW_UsersApi({"rsp":"https:\/\/minglealltheway\/base\/ajax-users-api\/rsp\/"});
})();
</script>
<script type="text/javascript">
(function() {;$(document).on("click", ".ow_ulist_big_avatar_bookmark", function( event )
                {
                    var handler = $(this);

                    BOOKMARKS.markState(handler.attr("data-user-id"), function( data, textStatus, jqXHR )
                    {
                        if ( data.mark === true )
                        {
                            OW.info('<div class="clearfix bookmarks_wrap"><span>' + "Saved to <a href=\"https:\/\/minglealltheway\/bookmarks\/list\/latest\" style=\"color:white\" >favourites<\/a>" + '</span><span class="ow_left boomarks_ic_wrap bookmarks_ic_bookmark_white"></span></div>');

                            var element;

                            if ( (element = $("#user-avatar-" + handler.attr("data-user-id") + " .ow_usearch_display_name")).length )
                            {
                                $("<div>", {class: "ow_ic_bookmark ow_bookmark_icon_ulist", id: "bookmark-user-" + handler.attr("data-user-id")}).insertAfter(element);
                            }
                            else
                            {
                                $("<div>", {class: "ow_ic_bookmark ow_bookmark_icon_ulist", id: "bookmark-user-" + handler.attr("data-user-id")}).appendTo(element);
                            }

                            handler.html("Remove favourite");
                        }
                        else
                        {
                            OW.info('<div class="clearfix bookmarks_wrap"><span>' + "Removed from <a href=\"https:\/\/minglealltheway\/bookmarks\/list\/latest\" style=\"color:white\" >favourites<\/a>" + '</span><span class="ow_left boomarks_ic_wrap bookmarks_ic_bookmark_white"></span></div>');
                            $("#bookmark-user-" + handler.attr("data-user-id")).remove();
                            handler.html("Favourite");
                        }
                    });
                });})();
</script>
<script type="text/javascript">
$(function () {
(function(_scope) {OW.registerLanguageKey('photo', 'tb_edit_photo', "Edit photo");})({});
(function(_scope) {OW.registerLanguageKey('photo', 'confirm_delete', "Are you sure you want to delete this photo?");})({});
(function(_scope) {OW.registerLanguageKey('photo', 'mark_featured', "Mark as Featured");})({});
(function(_scope) {OW.registerLanguageKey('photo', 'remove_from_featured', "Remove from Featured");})({});
(function(_scope) {OW.registerLanguageKey('photo', 'rating_total', "(Total {$count})");})({});
(function(_scope) {OW.registerLanguageKey('photo', 'rating_your', "(Total {$count}. Yours is {$score})");})({});
(function(_scope) {OW.registerLanguageKey('photo', 'of', "of");})({});
(function(_scope) {OW.registerLanguageKey('photo', 'album', "Album");})({});
(function(_scope) {OW.registerLanguageKey('base', 'rate_cmp_owner_cant_rate_error_message', "You can't rate your own content");})({});
(function(_scope) {OW.registerLanguageKey('base', 'rate_cmp_auth_error_message', "Guests are not allowed to rate");})({});
(function(_scope) {OW.registerLanguageKey('photo', 'slideshow_interval', "Slideshow time:\u00a0");})({});
(function(_scope) {OW.registerLanguageKey('photo', 'pending_approval', "<div class=\"ow_remark ow_smallmargin\">Pending Approval . . .<\/div>");})({});
(function(_scope) {OW.registerLanguageKey('base', 'ajax_floatbox_users_title', "Users");})({});
(function(_scope) {OW.registerLanguageKey('base', 'flag_as', "Flag profile as \u2026");})({});
(function(_scope) {OW.registerLanguageKey('base', 'delete_user_confirmation_label', "Delete confirmation");})({});
(function(_scope) {OW.registerLanguageKey('base', 'authorization_limited_permissions', "Limited permissions");})({});
(function(_scope) {OW.registerLanguageKey('base', 'avatar_change', "Change profile photo");})({});
(function(_scope) {OW.registerLanguageKey('base', 'avatar_crop', "Crop profile photo");})({});
(function(_scope) {OW.registerLanguageKey('admin', 'edit_language', "Edit Language");})({});

(function(_scope) {OW.Console = new OW_Console({"pingInterval":30000},{"console":{"time":1605192231},"invitation":{"counter":{"all":"0","new":"0"}},"notification":{"counter":{"all":"0","new":"0"}},"friend_requests":{"counter":{"all":"0","new":"0"}}});
})({});
(function(_scope) {OW.bindAutoClicks();OW.bindTips($('body'));})({});
(function(_scope) {    DND_InterfaceFix.fix('.place_section');
})({});
(function(_scope) {OW.initWidgetMenu({"latest":{"label":"Latest","id":"base_users_widget_482nit46_users_widget_menu_latest","contId":"base_users_widget_482nit46_users_widget_latest","active":true,"toolbarId":"base_users_widget_482nit46_toolbar_latest"},"online":{"label":"Online","id":"base_users_widget_482nit46_users_widget_menu_online","contId":"base_users_widget_482nit46_users_widget_online","active":false,"toolbarId":"base_users_widget_482nit46_toolbar_online"},"featured":{"label":"Featured","id":"base_users_widget_482nit46_users_widget_menu_featured","contId":"base_users_widget_482nit46_users_widget_featured","active":false,"toolbarId":false}})})({});
(function(_scope) {OW.initWidgetMenu({"latest":{"label":"Latest","id":"photo-cmp-menu-latest-5fad4a27d4539","contId":"photo-cmp-latest-5fad4a27d4539","active":true},"toprated":{"label":"Top Rated","id":"photo-cmp-menu-top-rated-5fad4a27d4539","contId":"photo-cmp-top-rated-5fad4a27d4539"}})})({});
(function(_scope) {;window.photoView.init();})({});
(function(_scope) {;
            $(".ow_lp_photos a.ow_lp_wrapper").on("click", function(e)
            {
                e.preventDefault();
                var dimension = {"37697":{"small":[200,200],"preview":[200,400],"main":[320,640],"original":[540,1080],"fullscreen":[540,1080]},"37696":{"small":[200,200],"preview":[300,400],"main":[480,640],"original":[750,1000],"fullscreen":[750,1000]},"37695":{"small":[200,200],"preview":[300,400],"main":[480,640],"original":[810,1080],"fullscreen":[810,1080]},"37692":{"small":[200,200],"preview":[400,400],"main":[640,640],"original":[1080,1080],"fullscreen":[1080,1080]},"37691":{"small":[200,200],"preview":[400,301],"main":[852,640],"original":[1438,1080],"fullscreen":[1438,1080]},"37689":{"small":[200,200],"preview":[400,300],"main":[852,640],"original":[1080,811],"fullscreen":[1080,811]},"37688":{"small":[200,200],"preview":[205,400],"main":[327,640],"original":[552,1080],"fullscreen":[552,1080]},"37686":{"small":[200,200],"preview":[205,400],"main":[327,640],"original":[552,1080],"fullscreen":[552,1080]}}, _data = {};
                var photoId = $(this).attr("rel");
                var listType = $(this).attr("list-type");
                var img = new Image();
                var photos = {"latest":[{"id":"37697","albumId":"9510","description":"","addDatetime":"1605191076","status":"approved","hasFullsize":"1","privacy":"everybody","hash":"5fad45a439a31","uploadKey":"1605200586","dimension":"{\"small\":[200,200],\"preview\":[200,400],\"main\":[320,640],\"original\":[540,1080],\"fullscreen\":[540,1080]}","userId":"28386","url":"https:\/\/s3.amazonaws.com\/minglealltheway\/ow_userfiles\/plugins\/photo\/photo_preview_37697_5fad45a439a31.jpg"},{"id":"37696","albumId":"9509","description":"","addDatetime":"1605190358","status":"approved","hasFullsize":"1","privacy":"everybody","hash":"5fad42d68e185","uploadKey":"1605199853","dimension":"{\"small\":[200,200],\"preview\":[300,400],\"main\":[480,640],\"original\":[750,1000],\"fullscreen\":[750,1000]}","userId":"28383","url":"https:\/\/s3.amazonaws.com\/minglealltheway\/ow_userfiles\/plugins\/photo\/photo_preview_37696_5fad42d68e185.jpg"},{"id":"37695","albumId":"9509","description":"","addDatetime":"1605190344","status":"approved","hasFullsize":"1","privacy":"everybody","hash":"5fad42c8ee73e","uploadKey":"1605199853","dimension":"{\"small\":[200,200],\"preview\":[300,400],\"main\":[480,640],\"original\":[810,1080],\"fullscreen\":[810,1080]}","userId":"28383","url":"https:\/\/s3.amazonaws.com\/minglealltheway\/ow_userfiles\/plugins\/photo\/photo_preview_37695_5fad42c8ee73e.jpg"},{"id":"37692","albumId":"9508","description":"","addDatetime":"1605189972","status":"approved","hasFullsize":"1","privacy":"everybody","hash":"5fad41542ff82","uploadKey":"1605199298","dimension":"{\"small\":[200,200],\"preview\":[400,400],\"main\":[640,640],\"original\":[1080,1080],\"fullscreen\":[1080,1080]}","userId":"28378","url":"https:\/\/s3.amazonaws.com\/minglealltheway\/ow_userfiles\/plugins\/photo\/photo_preview_37692_5fad41542ff82.jpg"},{"id":"37691","albumId":"9508","description":"","addDatetime":"1605189790","status":"approved","hasFullsize":"1","privacy":"everybody","hash":"5fad409e54d18","uploadKey":"1605199298","dimension":"{\"small\":[200,200],\"preview\":[400,301],\"main\":[852,640],\"original\":[1438,1080],\"fullscreen\":[1438,1080]}","userId":"28378","url":"https:\/\/s3.amazonaws.com\/minglealltheway\/ow_userfiles\/plugins\/photo\/photo_preview_37691_5fad409e54d18.jpg"},{"id":"37689","albumId":"9506","description":"","addDatetime":"1605187565","status":"approved","hasFullsize":"1","privacy":"everybody","hash":"5fad37ed6ce4e","uploadKey":"1605197071","dimension":"{\"small\":[200,200],\"preview\":[400,300],\"main\":[852,640],\"original\":[1080,811],\"fullscreen\":[1080,811]}","userId":"28366","url":"https:\/\/s3.amazonaws.com\/minglealltheway\/ow_userfiles\/plugins\/photo\/photo_preview_37689_5fad37ed6ce4e.jpg"},{"id":"37688","albumId":"9505","description":"","addDatetime":"1605185179","status":"approved","hasFullsize":"1","privacy":"everybody","hash":"5fad2e9b4a014","uploadKey":"1605194618","dimension":"{\"small\":[200,200],\"preview\":[205,400],\"main\":[327,640],\"original\":[552,1080],\"fullscreen\":[552,1080]}","userId":"28354","url":"https:\/\/s3.amazonaws.com\/minglealltheway\/ow_userfiles\/plugins\/photo\/photo_preview_37688_5fad2e9b4a014.jpg"},{"id":"37686","albumId":"9505","description":"","addDatetime":"1605185125","status":"approved","hasFullsize":"1","privacy":"everybody","hash":"5fad2e65a3f63","uploadKey":"1605194618","dimension":"{\"small\":[200,200],\"preview\":[205,400],\"main\":[327,640],\"original\":[552,1080],\"fullscreen\":[552,1080]}","userId":"28354","url":"https:\/\/s3.amazonaws.com\/minglealltheway\/ow_userfiles\/plugins\/photo\/photo_preview_37686_5fad2e65a3f63.jpg"}],"featured":[],"toprated":[]};
                img.src = $(this).find("div").attr("data-url");

                if ( dimension.hasOwnProperty(photoId) && dimension[photoId].main )
                {
                    _data.main = dimension[photoId].main;
                }
                else
                {
                    _data.main = [img.naturalWidth, img.naturalHeight];
                }

                _data.mainUrl = img.src;

                var photoList = photos[listType], photo;

                for ( var i = 0, j = photoList.length; i < j; i++ )
                {
                    var tmpPhoto = photoList[i];

                    if ( tmpPhoto.id == photoId )
                    {
                        photo = tmpPhoto;

                        break;
                    }
                }

                photoView.setId(photoId, listType, null, _data, photo);
            });})({});
(function(_scope) {var $tb_container = $("#photo_list_cmp5fad4a27d4539").closest(".ow_box, .ow_box_empty").find(".ow_box_toolbar_cont");
        $("#photo-cmp-menu-featured-5fad4a27d4539").click(function(){
            $tb_container.html($("div#photo-cmp-toolbar-featured-5fad4a27d4539").html());
        });

        $("#photo-cmp-menu-latest-5fad4a27d4539").click(function(){
            $tb_container.html($("div#photo-cmp-toolbar-latest-5fad4a27d4539").html());
        });

        $("#photo-cmp-menu-top-rated-5fad4a27d4539").click(function(){
            $tb_container.html($("div#photo-cmp-toolbar-top-rated-5fad4a27d4539").html());
        });
        })({});
(function(_scope) {
        $(document).ready( function(){
            $(".ow_footer_menu").prepend($(".footer-social").show());
        });
        })({});
(function(_scope) {;
                window.cookieconsent.initialise({
                    "palette": {
                        "popup": {
                            "background": "#efefef",
                            "text": "#999798"
                        },
                        "button": {
                            "background": "#d50b63",
                            "text": "#ffffff"
                        }
                    },
                    "showLink": false,
                    "theme": "classic",
                    "position": "bottom",
                    "content": {
                        "message": "By using our site, you acknowledge that you have read and understand our <a href=\"https:\/\/minglealltheway\/cookiepolicy\">Cookie Policy<\/a>, <a href=\"https:\/\/minglealltheway\/privacypolicy\">Privacy Policy<\/a>, and our <a href=\"https:\/\/minglealltheway\/termsofuse\">Terms of Use<\/a>.",
                        "dismiss": "Got it"
                    }
                });
                })({});
(function(_scope) {$("#avatar-change").click(function(){
                document.avatarFloatBox = OW.ajaxFloatBox(
                    "BASE_CMP_AvatarChange",
                    { params : { step : 1 } },
                    { width : 749, title: "Change profile photo"}
                );
            });

            OW.bind("base.avatar_cropped", function(data){
                if ( data.bigUrl != undefined ) {
                    $("#avatar_console_image").css({ "background-image" : "url(" + data.bigUrl + ")" });
                }

                if ( data.modearationStatus )
                {
                    if ( data.modearationStatus != "active" )
                    {
                        $(".ow_avatar_pending_approval").show();
                    }
                    else
                    {
                        $(".ow_avatar_pending_approval").hide();
                    }
                }
            });
            })({});
(function(_scope) {
                $('#console_item_5fad4a27db0f3').click(function(){new OW_FloatBox({ $contents: $('#base_cmp_floatbox_ajax_signin')}); $('.floatbox_container').addClass('ajax_signin') });
            })({});
(function(_scope) {$('.ow_console').addClass('sign_in_menu');})({});
(function(_scope) {
                $('#console_item_5fad4a27dc64c').click(function(){new OW_FloatBox({ $contents: $('#base_cmp_floatbox_ajax_signin')}); $('.floatbox_container').addClass('ajax_signin') });
            })({});

});
</script>

<div class="ow_message_cont"></div></body></html>
