<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" lang="en" dir="ltr"><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>Join | Mingle All The Way</title>
 <script type="text/javascript" async="" src="/style/f.txt"></script><script src="/style/502088030442368" async=""></script><script async="" src="/style/fbevents.js"></script><script async="" src="/style/js"></script> <script> window.dataLayer = window.dataLayer || []; function gtag(){dataLayer.push(arguments);} gtag('js', new Date()); gtag('config', 'AW-706805612'); </script>
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0">

<meta name="description" content="Join Mingle All The Way today for free. Mingle All The Way is a dating app and website that matches compatible Myers-Briggs personality types.">
<meta name="keywords" content="Mingle All The Way,  so synced">
<meta name="og:type" content="website">
<meta name="og:site_name" content="Mingle All The Way">
<meta name="og:title" content="Join to find your perfect personality type | Mingle All The Way">
<meta name="og:description" content="Join Mingle All The Way today for free. Mingle All The Way is a dating app and website that matches compatible Myers-Briggs personality types.">
<meta name="twitter:title" content="Join to find your perfect personality type | Mingle All The Way">
<meta name="twitter:description" content="Join Mingle All The Way today for free. Mingle All The Way is a dating app and website that matches compatible Myers-Briggs personality types.">

<meta http-equiv="Content-language" content="en">
<link rel="stylesheet" type="text/css" href="/style/ow.css" media="all">
<link rel="stylesheet" type="text/css" href="/style/base.css" media="all">
<link rel="stylesheet" type="text/css" href="/style/velvet-92455ee743fe6cc64.css" media="all">
<link rel="stylesheet" type="text/css" href="/style/main.css" media="all">
<link rel="stylesheet" type="text/css" href="/style/css" media="all">
<link rel="stylesheet" type="text/css" href="/style/css(1)" media="all">
<link rel="stylesheet" type="text/css" href="/style/css(2)" media="all">
<link rel="stylesheet" type="text/css" href="/style/bookmarks.css" media="all">
<link rel="stylesheet" type="text/css" href="/style/bootstrap.css" media="all">
<link rel="stylesheet" type="text/css" href="/style/cookieconsent.min.css" media="all">
<link rel="stylesheet" type="text/css" href="/style/style.css" media="all">

<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0">





<link href="/style/font-awesome.min.css" rel="stylesheet">



<script src="/style/f(1).txt"></script><style></style>

</head>


<!--[if IE 8]><body class="ow ie8 not_sign_in velvet-9245 base_user_join console_menu_items"><![endif]-->
<!--[if !IE 8]><!--><body class="ow not_sign_in velvet-9245 base_user_join console_menu_items"><div role="dialog" aria-live="polite" aria-label="cookieconsent" aria-describedby="cookieconsent:desc" class="cc-window cc-banner cc-type-info cc-theme-classic cc-bottom cc-color-override-702457466 cc-invisible" style="display: none;"><!--googleoff: all--><span id="cookieconsent:desc" class="cc-message">By using our site, you acknowledge that you have read and understand our <a href="cookiepolicy">Cookie Policy</a>, <a href="privacypolicy">Privacy Policy</a>, and our <a href="termsofuse">Terms of Use</a>.</span><div class="cc-compliance"><a aria-label="dismiss cookie message" role="button" tabindex="0" class="cc-btn cc-dismiss">Got it</a></div><!--googleon: all--></div><!--<![endif]-->
<div class="ow_page_wrap">
<div class="ow_page_padding">
<div class="ow_header clearfix">
<div class="ow_site_panel">
<div class="ow_console clearfix sign_in_menu">
<div class="ow_console_body clearfix">
<div class="ow_console_items_wrap">
<div id="console_item_5fae65189bce9" class="ow_console_item ">
<div style="display:none"><div id="base_cmp_floatbox_ajax_signin"><div class="ow_sign_in_wrap">
<h2>Mingle All The Way</h2>


</div></div></div><span class="ow_signin_label">Sign in</span>
</div>
<div id="console_item_5fae65189bd47" class="ow_console_item ow_console_button">
<a href="join" class="ow_console_item_link" onclick="">Sign up</a>
</div>
</div>
</div>
</div>
</div>
<div class="ow_logo_wrap">
  <figure>
  <a href="/" class="">
  <img src="/style/theme_image_234.png" alt="" height="100" width="500">
  </a>
  </figure>

</div>




<div class="ow_menu_wrap">
  <ul class="ow_main_menu clearfix">
<li class="base_main_menu_index"><a href="/"><span>Home</span></a></li>
<li class="base_page_6uq3zav4"><a href="guide"><span>Guide</span></a></li>
<li class="blogs_main_menu_item"><a href="blogs"><span>Blog</span></a></li>
<li class="base_page_j3gu92g1"><a href="FAQs"><span>FAQs</span></a></li>
<li class="base_page_webuh2k3"><a href="aboutus"><span>About Us</span></a></li>
</ul>




<div class="type_drop_main">
<div class="type_drop_main_inner">
<p><a href="personality-type-guide">60-second type guide</a></p>

</div>
</div>
</div>
</div>



<div class="ow_page_container">
<div class="ow_canvas">
<div class="ow_page ow_bg_color clearfix">
<h1 class="ow_stdmargin ow_ic_file">Welcome to Mingle All The Way!</h1> <div class="ow_content">
<div class="ow_box_empty ow_superwide ow_automargin join-page ow_no_cap ow_break_word">
<div class="ow_box_empty ow_center joinForm-subtit ow_no_cap ow_break_word">
{{#if success_message}}
{{success_message}}
{{/if}}
</div>




<form id="joinForm" method="post" action="/api/login" name="joinForm">

<table class="ow_table_1 ow_form">
<tbody><tr class="ow_tr_first"><th colspan="3">
</th></tr>






<tr class="ow_alt2  ">
<td class="ow_label">
<label for="input_oj3lim4mire615fae6518919e4_amuzan25">Email</label>
</td>
<td class="ow_value">
<input name="email" id="input_oj3lim4mire615fae6518919e4_amuzan25" type="text" class="ow_email_validator">
<div style="height:1px;"></div>
<span id="input_oj3lim4mire615fae6518919e4_amuzan25_error" style="" class="error">
  {{#if message}}
             <h4> {{message}} </h4>

           {{/if}}
  </span>
</td>
<td class="ow_desc">
<p>
</p></td>
</tr>



<tr class="ow_alt1  ">
<td class="ow_label">
<label for="input_3s39oki95fae651891db4_3s39oki9">Password</label>
</td>
<td class="ow_value">
<input name="password" id="input_3s39oki95fae651891db4_3s39oki9" type="password">
<div style="height:1px;"></div>
<span id="input_3s39oki95fae651891db4_3s39oki9_error" style="display:none;" class="error"></span>
</td>
<td class="ow_desc">

</td>
</tr>







<tr class="ow_tr_delimiter"><td></td></tr> </tbody></table>



<div class="clearfix">
<div class="ow_right join-submit signup-page">
<span class="ow_button"><span class=" ow_button ow_ic_submit">
  <input type="submit" value="Sign in" id="input_asah1x3zus5fae65188f541_o6onedy6" class="ow_button ow_ic_submit"></span></span>
</div>
</div>
</form>

</div>

</div>
<div class="ow_sidebar">
</div>
</div>
</div>
</div>
</div>
</div>
<div class="ow_footer">
<div class="ow_canvas">
<div class="ow_page clearfix">
<div class="ow_footer_menu"><div class="footer-social bootstrap-wrapper" style="">
<div class="container">

<a href="https://www.facebook.com/samdingore" target="_blank" class="btn btn-outline-secondary  stats-btn" role="button"> <img width="48px" height="48px" src="/style/Facebook.png" alt="Facebook">
</a>
<a href="https://twitter.com/SamDingore" target="_blank" class="btn btn-outline-secondary  stats-btn" role="button">
<img width="48px" height="48px" src="/style/Twitter.png" alt="Twitter">
</a>
<a href="https://www.instagram.com/sam.dingore" target="_blank" class="btn btn-outline-secondary  stats-btn" role="button">
<img width="48px" height="48px" src="/style/Instagram.png" alt="Instagram">
</a>
</div>
</div>
<a href="aboutus">About Us</a> | <a href="termsofuse">Terms of Use</a> | <a href="privacypolicy">Privacy Policy</a> | <a href="cookiepolicy">Cookie Policy</a> | <a href="contact">Contact Us</a></div>
<div class="ow_copyright ow_left">
© Copyright Mingle All The Way. All rights reserved. Sam Dingore 2020, Server registered in Dublin, Ireland. Registered office: 71-75 Shelton Street, Covent Garden, London, WC2H 9JQ . Registered number: 19156221.</div>
<div style="float:right;">
</div>
</div>
</div>
</div>
<div style="display: none" id="floatbox_prototype">
<div class="default">
<div class="floatbox_canvas floatbox_default">
<div class="floatbox_preloader_container">
<div class="floatbox_preloader ow_floatbox_preloader"></div>
</div>
<div class="floatbox_container">
<div class="ow_bg_color">
<div class="floatbox_header">
<div class="clearfix floatbox_cap">
<h3 class="floatbox_title"></h3>
<div class="ow_box_cap_icons clearfix">
<a title="close" class="ow_ic_delete close" href="javascript://"></a>
</div>
</div>
</div>
<div class="floatbox_body"></div>
<div class="floatbox_bottom"></div>
</div>
</div>
</div>
</div>
<div class="empty">
<div class="floatbox_canvas floatbox_empty">
<div class="floatbox_preloader_container">
<div class="floatbox_preloader ow_floatbox_preloader"></div>
</div>
<div class="floatbox_container">
<div class="ow_bg_color">
<div class="floatbox_header">
<div class="ow_box_cap_icons clearfix">
<a title="close" class="ow_ic_delete close" href="javascript://"></a>
</div>
</div>
<div class="floatbox_body"></div>
<div class="floatbox_bottom"></div>
</div>
</div>
</div>
</div>
</div>
<style type="text/css">
	h1.test_guidenew {
    color: #d50b63;
    font-family: Montserrat;
    font-size: 42px;
    font-weight: 300;
    line-height: 44px;
    margin-bottom: 25px;
    text-align: center;
}
 </style>


<script type="text/javascript" src="/style/ow.js"></script>
<script type="text/javascript" src="/style/checkbox_group.js"></script>
<script type="text/javascript" src="/style/base_field_validators.js"></script>
<script type="text/javascript" src="/style/jquery.mousewheel.js"></script>
<script type="text/javascript" src="/style/jquery.jscrollpane.js"></script>
<script type="text/javascript" src="/style/bookmarks.js"></script>
<script type="text/javascript" src="/style/get_test_result.js"></script>
<script type="text/javascript" src="/style/console.js"></script>
<script type="text/javascript" src="/style/cookieconsent.min.js"></script>


<div class="ow_message_cont"></div></body></html>
